
<div class="row mx-1">
  <div class ="col-sm-1 col-lg-2">
  </div>
  <div class ="col-sm-10 col-lg-8">
    <h2 class="my-4">{{{title}}}</h2>
    <div class="row">

      <div class ="col-sm-10 col-lg-8">
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Add new list</label>
            <textarea class="form-control" id="newListTitle" rows="1" required></textarea>
          </div>

        <button type="submit" class="btn btn-outline-primary mb-3" id="newListButton">Add List</button>
        <div class="row" >
          <div class="col-6" id="successSpace">
            </div>
        </div>
      </form>
      </div>


    </div>


    <div class="list-group">
      {{#each task_lists as |list|}}
      <a href="/tasks/{{{list._id}}}" class="list-group-item list-group-item-action">
        {{{list.title}}}
      </a>
      {{/each}}
      </div>


  </div>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/addListScript.js"></script>
